*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#value{
    font-size: 5rem;
}
h1{
    font-size: 3rem;
}

.btn-container{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.btn{
    background-color: white;
    color: black;
    height: 40px;
    width: 100px;
    border-radius: 6px;
}

.btn:hover{
    background-color: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

